In [1]:
import pandas as pd
from scrape_data import get_pe_ratio

# Define tickers and their matching company names (used in Macrotrends URL)
tickers = {
    'AAPL': 'apple',
    'MSFT': 'microsoft',
    'GOOGL': 'alphabet',
    'AMZN': 'amazon',
    'META': 'meta-platforms',
    'NVDA': 'nvidia',
    'TSLA': 'tesla'
}

# Combine data
combined_df = pd.concat(
    [get_pe_ratio(ticker, name) for ticker, name in tickers.items()],
    ignore_index=True
)

print(combined_df.head())

(64, 4)
         Date  Stock Price TTM Net EPS  PE Ratio
0  2025-07-18       172.41         NaN     55.62
1  2025-04-30       108.91       $3.10     35.13
2  2025-01-31       120.05       $2.94     40.86
3  2024-10-31       132.73       $2.54     52.23
4  2024-07-31       116.98       $2.13     54.87
----------------

Date           2025-07-18
Stock Price        172.41
TTM Net EPS           NaN
PE Ratio            55.62
Name: 0, dtype: object
(64, 4)
         Date  Stock Price TTM Net EPS  PE Ratio
0  2025-07-18       172.41         NaN     55.62
1  2025-04-30       108.91       $3.10     35.13
2  2025-01-31       120.05       $2.94     40.86
3  2024-10-31       132.73       $2.54     52.23
4  2024-07-31       116.98       $2.13     54.87
----------------

Date           2025-07-18
Stock Price        172.41
TTM Net EPS           NaN
PE Ratio            55.62
Name: 0, dtype: object
(64, 4)
         Date  Stock Price TTM Net EPS  PE Ratio
0  2025-07-18       172.41         NaN     55.62
1  2025-04-30       108.91       $3.10     35.13
2  2025-01-31       120.05       $2.94     40.86
3  2024-10-31       132.73       $2.54     52.23
4  2024-07-31       116.98       $2.13     54.87
----------------

Date           2025-07-18
Stock Price        172.41
TTM Net EPS           NaN
PE Ratio            55.62
Name: 0, dtype: object
(64, 4)
         Date  Stock Price TTM Net EPS  PE Ratio
0  2025-07-18       172.41         NaN     55.62
1  2025-04-30       108.91       $3.10     35.13
2  2025-01-31       120.05       $2.94     40.86
3  2024-10-31       132.73       $2.54     52.23
4  2024-07-31       116.98       $2.13     54.87
----------------

Date           2025-07-18
Stock Price        172.41
TTM Net EPS           NaN
PE Ratio            55.62
Name: 0, dtype: object
(64, 4)
         Date  Stock Price TTM Net EPS  PE Ratio
0  2025-07-18       172.41         NaN     55.62
1  2025-04-30       108.91       $3.10     35.13
2  2025-01-31       120.05       $2.94     40.86
3  2024-10-31       132.73       $2.54     52.23
4  2024-07-31       116.98       $2.13     54.87
----------------

Date           2025-07-18
Stock Price        172.41
TTM Net EPS           NaN
PE Ratio            55.62
Name: 0, dtype: object
(64, 4)
         Date  Stock Price TTM Net EPS  PE Ratio
0  2025-07-18       172.41         NaN     55.62
1  2025-04-30       108.91       $3.10     35.13
2  2025-01-31       120.05       $2.94     40.86
3  2024-10-31       132.73       $2.54     52.23
4  2024-07-31       116.98       $2.13     54.87
----------------

Date           2025-07-18
Stock Price        172.41
TTM Net EPS           NaN
PE Ratio            55.62
Name: 0, dtype: object
(64, 4)
         Date  Stock Price TTM Net EPS  PE Ratio
0  2025-07-18       172.41         NaN     55.62
1  2025-04-30       108.91       $3.10     35.13
2  2025-01-31       120.05       $2.94     40.86
3  2024-10-31       132.73       $2.54     52.23
4  2024-07-31       116.98       $2.13     54.87
----------------

Date           2025-07-18
Stock Price        172.41
TTM Net EPS           NaN
PE Ratio            55.62
Name: 0, dtype: object

ValueError: All objects passed were None